* {
    box-sizing: border-box;
}

/* /////////// EXERCISE DESC /////////////////////// */

.exercise-desc {
    height: calc(100vh - 35% - 1em - .5em - 30px);
    overflow-y: auto;
}

/* /////////// PUTTING EXERCISE INTO WORKOUT BUTTON /////////////// */

.add-swap {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 15vh;
    left: calc(-50vw + 50%);
    border-top: 2px solid black;
}

.add-swap > a {
    font-size: 1.5rem;
    width: 80%;
    padding: .5em .75em;
    border-radius: 3rem;
    text-align: center;
    color: var(--clr-text);
    text-decoration: none;
}

.add {
    background-color: var(--add);
}

.swap {
    background-color: var(--swap);
}