* {
    box-sizing: border-box;
    /* outline: 1px solid red; */
    margin: 0;
}

html {
    /* height: 100%; */
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* ///////////// NAV ARROW /////////////////// */

.fa-arrow-left {
    /* margin-left: 1em; */
}

/* /////////////// EXERCISE INFO ///////////// */

.exercise-info {
    /* height: 100vh; */
}

.video {
    position: relative;
    width: 100vw;
    height: 15em;
    left: calc(-50vw + 50%);
    background-color: lightgrey; /* placeholder for video */
    z-index: -1;
}

h3 {
    margin: 1em 0 .5em;
}