* {
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

html, body {
    margin: 0;
}

body {
    position: relative;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

main {
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: inherit;
    padding: 10% 0;
}

/* ////////////// EXERCISES ////////////// */

.exercise {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 1em;
    border: 2px solid var(--clr-text);
}

.exercise button {
    padding: .5em .75em;
}

.exercise > a {
    flex: 1;
    padding: .5em 0;
    color: var(--clr-text);
}

/* /////////// BUTTONS ///////////// */

.exercise button {
    font-size: 1.5rem;
    border: none;
    background-color: white;
}

.btn.add-exercise, .btn.start-workout {
    color: var(--clr-text);
}

.btn.add-exercise {
    background-color: var(--add);
}

.btn.start-workout {
    margin-top: auto;
    background-color: var(--start);
    border: none;
    font-family: 'Open Sans', sans-serif;
}

/* /////////// EXERCISE OPTIONS MENU ////////////// */

.options {
    position: relative;
}

.options-menu {
    position: absolute;
    top: .875em;
    right: -2%;
    padding: 0;
    background-color: white;
    border: 2px solid var(--clr-text);
    list-style-type: none;
    z-index: 1;
    visibility: hidden;
}

.options-menu > li:first-child {
    border-bottom: 2px solid var(--clr-text);
}

.options-menu > li {
    font-size: 1.25rem;
    width: max-content;
    padding: .4em;
    cursor: pointer;
}

.swap-exercise > a {
    color: var(--swap);
}

.delete-exercise > a {
    color: var(--delete);
}

/* ///////////// MISCELLANEOUS //////////////// */

.overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 1px solid red;
}

/* ////////////// UTILITY CLASSES ////////////// */

.open {
    visibility: visible;
}

.exercise.dragging {
    opacity: 0.4;
}