* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

body {
    background-color: var(--clr-startup-bg);
    font-family: 'Open Sans', sans-serif;
}

.container {
    position: relative;
}

h2, 
a {
   text-align: center; 
}

/* ////////// TITLE OF PAGES ///////////// */

h2 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-weight: 500;
}

/* ///////// SELECTION OPTIONS //////////// */

ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0;
    list-style-type: none;
}

.btn {
    font-size: initial;
    width: 75%;
    padding: 1em 2em;
    margin: 1.5em auto;
    background-color: var(--clr-startup-btns);
    color: white;
}

.btn.inactive {
    background-color: grey;
    color: black;
}